*{
    font-family: monospace;
    font-size: 2vh;
}

body{
    display: flex; 
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;

    border: solid slategray 1rem;
    border-bottom-left-radius: 50%;
    background-color: azure; 
}
  
.messageContaier{
    display: flex;
    justify-content: center; 
    align-items: center;

    height: 75vh;
    width: 75vh;
    
    border: solid slategray 1rem;
    border-bottom-left-radius: 50%;
}

.MSG{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.sMSG{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10px;
}

.textBox{
    height: 150px;
    width: 300px;
    border: none;
    background: transparent;
    outline: none;
}

#btn1{
    background-color: azure;
    color: gray;
}

#btn2{
    background-color: azure;
    color: gray;
}
